{% extends 'base.html.twig' %}

{% block body %}


    <div  class="div-B">

    </div>


    <div  >
        <section >
            <div>
                <h1 >Bienvenu Chez KScouting</h1>
                <h2>Entreprise de Scouting de Football</h2>
                <p>By Kichou</p>

            </div>
        </section>
        <section id="a-propos">
        <section >
            <div class="inner">
                <h1>A propos - Notre entreprise de scouting de joueurs de football</h1>
                <p>Notre entreprise est une agence de scouting de joueurs de football qui se concentre sur la découverte de nouveaux talents dans le monde entier. Nous sommes passionnés par le football et nous croyons que chaque joueur mérite d'avoir la chance de réaliser son potentiel.</p>
                <p>Nous avons une équipe dévouée de recruteurs professionnels qui ont une expérience de plusieurs années dans le domaine du football. Nous travaillons avec des clubs de football, des agents, des entraîneurs et des joueurs pour identifier les meilleurs talents et les aider à réaliser leurs rêves de jouer au plus haut niveau.</p>
                <p>Nous sommes fiers de notre approche personnalisée et de notre engagement envers nos clients. Nous nous efforçons de comprendre les besoins de chaque joueur et de chaque club pour garantir des résultats optimaux.</p>
                <p>Nous sommes une entreprise dynamique et innovante qui s'engage à rester à la pointe des dernières tendances et technologies dans le domaine du football. Nous sommes impatients de travailler avec vous pour découvrir les stars du football de demain.</p>
            </div>
        </section>

        <section >
            <div >
                <h2>Nos services</h2>
                <ul>
                    <li>Identification des talents</li>
                    <li>Recherche de joueurs</li>
                    <li>Scoutisme vidéo</li>
                    <li>Analyse des performances</li>
                    <li>Conseils pour les clubs</li>
                </ul>
            </div>
            <div >
                <h2>Nos objectifs</h2>
                <ol>
                    <li>Devenir le leader mondial du scouting de football</li>
                    <li>Aider les clubs à recruter les meilleurs joueurs</li>
                    <li>Développer de nouvelles techniques de scouting</li>
                    <li>Contribuer à la croissance du football dans le monde entier</li>
                </ol>
            </div>
        </section></section>
    </div>
{% endblock %}

